<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=qihang;Integrated Security=True"/>
    <add key="DAL" value="SQLServerDAL"/>
    <add key="VirtualPath" value="/Sys"/>
    <add key="MenuExpanded" value="false"/>
    <add key="left_width" value="204"/>
    <add key="LogInFile" value="true"/>
    <add key="LogInDB" value="true"/>
    <add key="LogLastDays" value="1"/>
    <add key="UpFileExt" value="jpg|gif|png|bmp"/>
    <add key="FCKeditor:UserFilesPath" value="/UpLoad"/>
    <add key="WaterMark" value="1"/>
    <add key="Breviary" value="1"/>
    <!--微信企业机器人小梦-->
    <add key="wxRobot" value="xxxxxxxxxxxxxxxxxxxxxxxx"/>
    <!--工具文件夹-->
    <add key="ffmpeg" value="/ffmpeg/ffmpeg.exe"/>
    <!--上传文件的路径-->
    <add key="upfile" value=""/>
    <!--上专文件图片路径-->
    <add key="imgfile" value="/Content/upload/image"/>
    <!--上传文件图片大小-->
    <add key="CatchFlvImgSize" value="420x280"/>
    <add key="widthSize" value="400"/>
    <add key="heightSize" value="350"/>
    <!--转换后文件路径-->
    <add key="playfile" value="PlayFiles"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="Error.aspx">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <sessionState timeout="60" mode="StateServer"/>
    <compilation debug="true" targetFramework="4.0"/>
    <globalization culture="zh-CN" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="zh-CN"/>
    <httpRuntime maxRequestLength="80000"/>
    <authentication mode="Forms">
      <forms timeout="60" slidingExpiration="false"/>
    </authentication>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
        <add value="index.htm"/>
        <add value="login.aspx"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <caching>
      <profiles>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
      </profiles>
    </caching>
  </system.webServer>
</configuration>